.header {
    display: flex;
    justify-content: space-between;

    .user-avatar {
        height: 40px;
    }
}

.tasks-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding-top: 4px;

    .mat-card {
        margin: 8px;
    }

    .new-task-card {
        width: 28%;
        min-width: 200px;

        .new-task-form {
            display: flex;
            flex-direction: column;

            .new-task-form-first-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .priority-checkbox {
                    margin-top: 14px;
                }
            }

            .add-task-button {
                align-self: flex-end;
                width: 130px;
            }
        }
    }

    .tasks-list-card {
        width: 66%;

        .priority-task {
            font-weight: bold;
        }
    }
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 400px;

    .github-login-logo {
        max-width: 140px;
        margin: 20px 0 40px 0;
    }

    .github-login-button {
        width: 160px;
    }
}
